<%= render 'search_form' %>

<div id="post">
<h1>Listing posts</h1>

<table id="post">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.user.username.capitalize %></td>
    <td><%= link_to 'Show', post %></td>
     
  </tr>
<% end %>

</table>
</div>

<div id="ajax">
 
</div>

<br />

<%= link_to 'New Post', new_post_path %>
